params {
    max_cpus = 16
    max_memory = '200.GB'
    max_time = '12.h'
    igenomes_base = '/data/bio/igenomes/references'
    publish_dir_mode = 'link'
}

process {
    executor = 'pbspro'
    queue = 'babs12'

    // See https://github.com/nextflow-io/nextflow/issues/2685
    beforeScript = 'env(){ /usr/bin/env $1 "SINGULARITY_TMPDIR=$TMPDIR" "${@:2}";}'
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "/srv/scratch/genomicwf/$USER/.apptainer"
}

executor {
    $pbspro {
        queueSize = 100
        pollInterval = '60sec'
        dumpInterval = '30sec'
    }
}