process {
    executor = 'pbspro'
    
    // Prevent confusing/outdated files in results folder, remove if default preferred
    overwrite = true
    
    resourceLimits = [
        cpus: 12,
        memory: 200.GB,
        time: 12.h
    ]
    
    // Example for enabling GPU for specific processes (nf-core/proteinfold shown)
    withName: 'RUN_ALPHAFOLD2|RUN_ALPHAFOLD2_PRED|RUN_ESMFOLD|COLABFOLD_BATCH' {
        clusterOptions = { "-l select=1:ncpus=\${task.cpus}:mem=\${task.memory.toMega()}mb:ngpus=1" }
    }
}

singularity {
    enabled = true
    autoMounts = true
    pullTimeout = '3 hours'
    
    // Contains local containers for recent rnaseq/scrnaseq revisions (must be in BABS to access)
    libraryDir = '/srv/scratch/seqflow/shared/containers'
    
    // Specified to prevent filling up home directory by default (~/.apptainer)
    cacheDir = "/srv/scratch/$USER/.apptainer"
}

executor {
    $pbspro {
        queueSize = 100
        
        // Note NCI Gadi requests even larger interval
        queueStatInterval = '2min'
    }
}

// Outdated method for specifying maximum resources, left in to support re-running older revisions
params {
    max_cpus = 12
    max_memory = '200.GB'
    max_time = '12.h'
}
